<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if(products.length>0) {%>
                <ul>

                    <% products.forEach(p=>{%>
                        <li>
                            <div>
                                <p>
                                    <%= p.title %> (<%=p.cartItem.quantity%>)
                                </p>
                                <form action="/delete-cart-item" method="post">
                                    <input type="hidden" name="productId" value="<%=p.id%>" >
                                    <button type="submit" class="btn" >Delete</button>
                                </form>
                            </div>

                        </li>
                    <%}) %>
                </ul>
                <hr>
                <form action="/create-order" method="post">
                    <button type="submit" class="btn" >Order Now!</button>
                </form>
            <%}else{%>
                <h1>Your cart is empty!</h1>
            <%} %>
        </main>
        <%- include('../includes/end.ejs') %>