<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% if(orders.length> 0) {%>
                    <div>
                        <h1>Your Orders</h1>

                        <ul>
                            <% orders.forEach(order=>{%>
                                <li>
                                    <h1># <%= order._id %>
                                    </h1>
                                    <ul>
                                        <% order.items.forEach(product=>{%>
                                            <li>
                                                <p>
                                                    <%= product.title %>
                                                        (<%= product.quantity %>)
                                                </p>
                                            </li>
                                            <%}) %>
                                    </ul>
                                </li>
                        </ul>
                        <%})%>
                    </div>
                    <%} else {%>
                        <h1>You don't have any orders</h1>
                        <%}%>
            </main>
            <%- include('../includes/end.ejs') %>